<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "utf-8"/>
		<link rel = "stylesheet" href = "styles.css" class="center"/>
		<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title> Peanuts </title>
	</head>
	<body>
		<header>
			<div class="navbar">
				<a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a> 
				<a href="/contact"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
				<a href="/about"><i class="fa fa-fw fa-user"></i> About</a>
			</div>
			<img th:class="logo" src="/Peanuts-Logo.webp" alt="logo image">
		</header>
		
		<section>
			<h2>Device Data</h2>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th scope="col">Device ID</th>
						<th scope="col">Device Type</th>
						<th scope="col">Data</th>
						<th scope="col">Data Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entry : ${entries}" th:class="${entry.dataStatus == 'abnormal' ? 'bg-danger' : ''}">
						<td th:text="${entry.deviceID}"></td>
						<td th:text="${entry.deviceType}"></td>
						<td th:text="${entry.data}"></td>
						<td th:text="${entry.dataStatus}"></td>
					</tr>
				</tbody>
			</table>
			
			
			
		</section>
		
		<footer>
			<p th:class="light-text">Project by Rafe Hambly &copy 2024</p>
		</footer>

		
	</body>
</html>